

:root {
  --bg-dark: #04060C;
  --bg-card: linear-gradient(90deg, rgba(67, 84, 153, 0.3) 0%, rgba(42, 41, 75, 0.3) 100%);
  --text-primary: #e9e9e9;
  --text-secondary: #bebebe;
  --text-muted: #7b7b7b;
  --accent-blue: #4c8ff8;
  --accent-gradient-start: #ffffff;
  --accent-gradient-end: #7c7c7c;
  --font-poppins: "Poppins", sans-serif;
  --font-clash: "Clash Display", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --max-width: 1920px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
  background-color: var(--bg-dark);
  color: var(--text-primary);
  min-height: 100vh;
  overflow-x: clip;
  overflow-y: scroll;
}
